<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>avocet-wct-mac</string>
  <key>CFBundleIdentifier</key>
  <string>uk.ac.ncas.avocet-radar-toolkit</string>
  <key>CFBundleName</key>
  <string>Avocet Radar Toolkit</string>
  <key>CFBundleDisplayName</key>
  <string>Avocet Radar Toolkit</string>
  <key>CFBundleIconFile</key>
  <string>AvocetRadarToolkit</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
</dict>
</plist>
